.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 1rem;
    font-size: 1rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .1rem;
}