.footer {
    background: var(--black);
    text-align: center;

    &__share {
        padding: 10px 0;

        &__links {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: #fff;
            border: var(--border);
            margin: .3rem;
        }
    }


}
